/* color noGroup #f5f5f5 grey 100 */
/* color infrastruttura #90caf9 blue 200 */
/* color base #98db51 */
/* color grafica #ffee58 yellow 400 */
/* color file #ba68c8 Green 400 */
/* color algoritmiStruttureDati #c9b9a5 */
/* color riferimenti #b0bec5 */
/* color giochi #ff9100 */
/* color oggetti #ff4f4f */
/* placeholder color map HTML */

* {
    box-sizing:border-box;
    --colore-testo: #000000;
    --colore-testo-poco-evidenziato: #9c1f26;
    --colore-testo-molto-evidenziato: #c75e02;

    --colore-box-evidenziati-sfondo: #ffdd71;
    --colore-box-evidenziati-bordo: #ffab40;
    --colore-box-evidenziati-rilievo: #ffab40;

    --colore-suggerimenti-testo: #000000;
    --colore-suggerimenti-sfondo: #05dfdf;
    --colore-suggerimenti-bordo: #00acac;
}

body    { font-family: Verdana, sans-serif; margin:0em }
/* ------------------------------------------- header ------------------------------------------ */
body.noGroup                 header { background-color: var(--colore-sfondo-noGroup) }
body.infrastruttura          header { background-color: var(--colore-sfondo-infrastruttura) }
body.base                    header { background-color: var(--colore-sfondo-base) }
body.grafica                 header { background-color: var(--colore-sfondo-grafica) }
body.file                    header { background-color: var(--colore-sfondo-file) }
body.algoritmiStruttureDati  header { background-color: var(--colore-sfondo-algoritmiStruttureDati) }
body.riferimenti             header { background-color: var(--colore-sfondo-riferimenti) }
body.giochi                  header { background-color: var(--colore-sfondo-giochi) }
body.oggetti                  header { background-color: var(--colore-sfondo-oggetti) }
header    { margin:0 ; padding:0 }
header h1 { margin:0 ; padding:2rem 3em 0.5rem 3em ; text-align: center }
header p  { margin:0 ; padding: 0.5rem 1rem 2rem 1rem ; text-align: center }
.legenda.noGroup                { background-color: var(--colore-sfondo-noGroup) }
.legenda.infrastruttura         { background-color: var(--colore-sfondo-infrastruttura) }
.legenda.base                   { background-color: var(--colore-sfondo-base) }
.legenda.grafica                { background-color: var(--colore-sfondo-grafica) }
.legenda.file                   { background-color: var(--colore-sfondo-file) }
.legenda.algoritmiStruttureDati { background-color: var(--colore-sfondo-algoritmiStruttureDati) }
.legenda.riferimenti            { background-color: var(--colore-sfondo-riferimenti) }
.legenda.giochi                 { background-color: var(--colore-sfondo-giochi) }
.legenda.oggetti                { background-color: var(--colore-sfondo-oggetti) }
.legenda                        { border:1px solid gray; padding:0.5em ; margin-top:1em }
/* -------------------------- precedente - indice - successiva --------------------------------- */
body.noGroup                 nav { background-color: var(--colore-sfondo-noGroup-chiaro) }
body.infrastruttura          nav { background-color: var(--colore-sfondo-infrastruttura-chiaro) }
body.base                    nav { background-color: var(--colore-sfondo-base-chiaro) }
body.grafica                 nav { background-color: var(--colore-sfondo-grafica-chiaro) }
body.file                    nav { background-color: var(--colore-sfondo-file-chiaro) }
body.algoritmiStruttureDati  nav { background-color: var(--colore-sfondo-algoritmiStruttureDati-chiaro) }
body.riferimenti             nav { background-color: var(--colore-sfondo-riferimenti-chiaro) }
body.giochi                  nav { background-color: var(--colore-sfondo-giochi-chiaro) }
body.oggetti                 nav { background-color: var(--colore-sfondo-oggetti-chiaro) }
nav {
    margin:0; padding: 1rem;
    display: flex; flex-direction: row
}
nav a { color: white }
nav#toc a { color: black } /* per indice in elenco */
body.noGroup                 nav > * { background-color: var(--colore-sfondo-noGroup-scuro) }
body.infrastruttura          nav > * { background-color: var(--colore-sfondo-infrastruttura-scuro) }
body.base                    nav > * { background-color: var(--colore-sfondo-base-scuro) }
body.grafica                 nav > * { background-color: var(--colore-sfondo-grafica-scuro) }
body.file                    nav > * { background-color: var(--colore-sfondo-file-scuro) }
body.algoritmiStruttureDati  nav > * { background-color: var(--colore-sfondo-algoritmiStruttureDati-scuro) }
body.riferimenti             nav > * { background-color: var(--colore-sfondo-riferimenti-scuro) }
body.giochi                  nav > * { background-color: var(--colore-sfondo-giochi-scuro) }
body.oggetti                 nav > * { background-color: var(--colore-sfondo-oggetti-scuro) }
nav > * {
    flex-grow: 1;
    text-align:center; text-decoration: none;
    margin:0em 1em; padding:0.5em;
}
/* --------------------------- parti principali della pagina --------------------------------- */
article, section { margin:1em 5% ; padding-bottom:3em}
h2 {
    text-align: left;
    margin-top:3rem;
    border-bottom:1px dashed #444;
}
h3 {
    text-align: left;
    margin-top:2rem;
    border-bottom:1px dotted #999;
}
p, dfn {
    text-align: justify;
    line-height: 1.5rem;
}
em {
    font-style: italic; font-weight: normal; color: var(--colore-testo-poco-evidenziato) ;
}
dfn {
    display: block;
    font-style: normal;
    padding: 0.75em;
    background-color: var(--colore-box-evidenziati-sfondo);
    border-top: 0.5em solid var(--colore-box-evidenziati-bordo)
}
dfn em { font-style: normal; font-weight: bold; font-size: 115%; color: var(--colore-testo-molto-evidenziato) }
img.screen_shot { border:1px solid gray; margin: 0.5em }
img.iconaIDE { height: 2ex; }
li { margin-top:0.2em }
strong { font-size:125% ; font-weight: normal; font-style: normal}
dt { font-weight: bold ; margin-top:0.5em}
table { border-collapse: collapse }
td,th { border:1px solid #444 ; padding:0.25em}


.approfondimento {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    border-left: 0.2em dashed var(--colore-box-evidenziati-bordo);
    border-right: 0.2em dashed var(--colore-box-evidenziati-bordo);
    padding: 0em 1em;
    margin-top: 2em;
}
.approfondimento:before {
    content: "🔍 per saperne di più";
    font-size: 150%;
    background-color: var(--colore-box-evidenziati-sfondo);
    padding: 0.2em;
}


.FIXME { background-color: yellow; color:red; padding:1em ; margin:1em}

/* ------------------------------------ codice sorgente ---------------------------------------- */
pre, code, var, samp { font-family: "Courier", "Courier New", monospace }
pre {
    clear: both;
    margin: 1em 0em;
    font-family: monospace;
    font-size: 115%;
    overflow: auto;
}
pre > * {
    line-height: 125%; padding: 0.5em; overflow: auto;
}
pre samp { display: block; background-color: #a7fa9d; }
pre code { display: block; background-color: #eeeeee; }
p code, li code { color: var(--colore-testo-poco-evidenziato); white-space: nowrap;}
code {
    padding:0.5em
}
code em {
	font-style: normal;
}
var {
    color: #a45920;
    font-size: 110%;
    font-style: italic
}
pre var { font-size:100% }
.vecchio { opacity:0.4; }
pre .esecuzione { background-color:yellow } /* lo usa l'interpreter visuale */
/* --------------------------------------- i test ---------------------------------------------- */
.test {
	padding: 1em;
    margin-top:0.5em;
    margin-bottom:0.5em;
    background-color: var(--colore-box-evidenziati-sfondo);
    border-top: 0.5rem solid var(--colore-box-evidenziati-bordo);
}
.test p {
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.test a {
    display: inline-table;
    margin: 0.5em;
    padding: 0.5em 0.75em;
    background-color: var(--colore-box-evidenziati-rilievo);
    box-shadow: 1px 1px 3px black;
    border-radius:0.5em;
}
.test a span.spiegazione { display:none ; font-size:85% }
.test a span.spiegazione:before { content: " (" }
.test a span.spiegazione:AFTER  { content: ")"  }
.test a.spiega span.spiegazione { display:inline }
.rispostaGiusta { background-color: lime !important}
.rispostaSbagliata { background-color: #ff6161 !important}
/* --------------------------------- gli esercizi da completare -------------------------------- */
.riempiSpazi { white-space: pre; font-family: monospace ; font-size:150%; line-height: 1.4em}
.riempiSpazi span { border:1px solid gray; display:inline-block; vertical-align:baseline }
.riempiSpazi em { color:red; font-weight: bold }
.riempiSpazi .giusta { background: green }
.riempiSpazi .sbagliata { background: #ff6161 }
.mostraSoluzione { color:blue ; font-weight: bold}
.controllaRisposta { color:blue ; font-weight: bold}
/* -----------------------------i testi degli esercizi da svolgere ----------------------------- */
.esercizio {
    margin-top:4em;
    padding: 0.5rem;
    background-color: var(--colore-box-evidenziati-sfondo);
}
.esercizio + .esercizio { margin-top:1em }
.esercizio p { margin:0 }
.esercizio h3, .esercizio h1 { margin-top:0; margin-bottom:0 }
body {
    counter-reset: section;           /* Set the section counter to 0 */
}
div.esercizio:before {
    counter-increment: section;      /* Increment the section counter */
    content: "esercizio " counter(section); /* Display the counter */
    font-size:85%;
    display: block;
    margin:-0.5rem -0.5rem 0.5rem -0.5rem;
    padding: 0.25rem;
    background-color: var(--colore-box-evidenziati-bordo)
}
/* -------------------------------------- i box a lato ----------------------------------------- */
div.curiosita, div.suggerimento {
    float:right; clear:both; width:25%; font-size:85% ;
    padding:1em ; margin: 1em 0em 1em 2em ;
    text-align: left;
    background-color: var(--colore-suggerimenti-sfondo);
    color: var(--colore-suggerimenti-testo);
}
div.suggerimento {
    white-space: normal !important;
    overflow:auto;
    border-top: 0.5rem solid var(--colore-suggerimenti-bordo);
}




/* -------------------------------------- non più usato ---------------------------------------- */
.IDE_inutile { display: none }
.ide {
	font-family: Courier, monospaced ;
	padding-left:0.25em; padding-right:0.25em
}
.ide { text-indent: 0 }
.eclipse, .netbeans, .vscode {
	background-repeat: no-repeat; padding-left:1.35em;
	background-size:1em 1em;
	background-position: 0.10em 0.0em;
	background-position-y: center;
	text-indent:0;
	border:1px solid white;
}
p.eclipse, p.netbeans, p.vscode {background-position: 0.10em 0.2em;}
section.eclipse, section.netbeans, section.vscode {background-position: 0.10em 0.2em; background-size:2em 2em; }
.netbeans {
	background-color: rgb(240,240,255);
	background-image: url(immagini/ide_netbeans.png);
	border-color: rgb(200,200,215);
}
.eclipse {
	background-color: rgb(255,240,240);
    background-image: url(immagini/ide_eclipse.png);
    border-color: rgb(215,200,200);
}
.vscode {
	background-color: rgb(204, 226, 254);
    background-image: url(immagini/ide_vscode.png);
    border-color: rgb(180, 197, 255);
}