* {
    /* colori di base delle sezioni */
    --colore-sfondo-noGroup: #b0bec5; /* blue grey 200 */
    --colore-sfondo-infrastruttura: #90caf9; /* blue 200 */
    --colore-sfondo-base: #7cb342 ; /* Light Green 600 */
    --colore-sfondo-grafica: #ffee58 ; /* yellow 400 */
    --colore-sfondo-file: #f8bbd0 ; /* pink 200 */
    --colore-sfondo-algoritmiStruttureDati: #a1887f ; /* brown 300 */
    /* i relativi light */
    --colore-sfondo-noGroup-chiaro: #e2f1f8; /* blue grey 200 */
    --colore-sfondo-infrastruttura-chiaro: #c3fdff; /* blue 200 */
    --colore-sfondo-base-chiaro: #aee571 ; /* Light Green 600 */
    --colore-sfondo-grafica-chiaro: #ffff8b ; /* yellow 400 */
    --colore-sfondo-file-chiaro: #ffc1e3 ; /* pink 200 */
    --colore-sfondo-algoritmiStruttureDati-chiaro: #d3b8ae ; /* brown 300 */
    /* i relativi dark */
    --colore-sfondo-noGroup-scuro: #808e95; /* blue grey 200 */
    --colore-sfondo-infrastruttura-scuro: #5d99c6; /* blue 200 */
    --colore-sfondo-base-scuro: #4b830d ; /* Light Green 600 ======= */
    --colore-sfondo-grafica-scuro: #c9bc1f ; /* yellow 400 */
    --colore-sfondo-file-scuro: #bf5f82 ; /* pink 200 */
    --colore-sfondo-algoritmiStruttureDati-scuro: #725b53 ; /* brown 300 ======= */
}
* {
    box-sizing:border-box;
    --colore-primario: #2e7d32; /* green 600 */
    --colore-primario-chiaro: #76d275; /* light di green 600 */
    --colore-primario-scuro: #00701a; /* dark di green 600 */
    --colore-primario-testo: #ffffff;
    --colore-primario-chiaro-testo: #000000;
    --colore-secondario: #f57c00; /* orange 700 */
    --colore-secondario-testo: #000000; 
}

body    { font-family: Verdana, sans-serif; margin:0em }
/* ------------------------------------------- header ------------------------------------------ */
body.noGroup                 header { background-color: var(--colore-sfondo-noGroup) }
body.infrastruttura          header { background-color: var(--colore-sfondo-infrastruttura) }
body.base                    header { background-color: var(--colore-sfondo-base) }
body.grafica                 header { background-color: var(--colore-sfondo-grafica) }
body.file                    header { background-color: var(--colore-sfondo-file) }
body.algoritmiStruttureDati  header { background-color: var(--colore-sfondo-algoritmiStruttureDati) }
header  { 	margin:0 ; padding:0 }
header h1 { margin:0 ; padding:2rem 3em 0.5rem 3em ; text-align: center }
header p  { margin:0 ; padding: 0.5rem 1rem 2rem 1rem ; text-align: center }
/* -------------------------- precedente - indice - successiva --------------------------------- */
body.noGroup                 nav { background-color: var(--colore-sfondo-noGroup-chiaro) }
body.infrastruttura          nav { background-color: var(--colore-sfondo-infrastruttura-chiaro) }
body.base                    nav { background-color: var(--colore-sfondo-base-chiaro) }
body.grafica                 nav { background-color: var(--colore-sfondo-grafica-chiaro) }
body.file                    nav { background-color: var(--colore-sfondo-file-chiaro) }
body.algoritmiStruttureDati  nav { background-color: var(--colore-sfondo-algoritmiStruttureDati-chiaro) }
nav {
	margin:0; padding: 1rem;
	display: flex; flex-direction: row 
} 
body.noGroup                 nav > * { background-color: var(--colore-sfondo-noGroup-scuro) }
body.infrastruttura          nav > * { background-color: var(--colore-sfondo-infrastruttura-scuro) }
body.base                    nav > * { background-color: var(--colore-sfondo-base-scuro) }
body.grafica                 nav > * { background-color: var(--colore-sfondo-grafica-scuro) }
body.file                    nav > * { background-color: var(--colore-sfondo-file-scuro) }
body.algoritmiStruttureDati  nav > * { background-color: var(--colore-sfondo-algoritmiStruttureDati-scuro) }
nav > * {
    flex-grow: 1;
    text-align:center; text-decoration: none;
    margin:0em 1em; padding:0.5em; 
    background-color: var(--colore-primario); color: var(--colore-primario-testo);
}

article { margin:1em 5% ; padding-bottom:3em}
h2 { 
	text-align: left;
    margin-top:3em;
    border-bottom:1px dashed #444; 
}

h3 { 
    text-align: left; 
    margin-top:2em;
    border-bottom:1px dotted #999; 
}
p {
    text-align: justify;
    line-height: 1.5em;
    text-indent: 2em;
}
/* ------------------------------------ codice sorgente ---------------------------------------- */
pre, div.pseudo {
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    white-space: pre;
    font-family: monospace;
    font-size: 115%;
    line-height: 100%;
    overflow: scroll;
    background-color: #eee;
    clear: both;
}
pre code { white-space: pre; display: inline-block; padding:2px;width: 100%}
pre .esecuzione { background-color:yellow }
div.pseudo {
    /* FIXME: andrebbe messo un colore per distinguere */
    background-color: #eef;
}
code { 
    font-size: 125%;
    color: #700;
    padding-left:0.25em; padding-right:0.25em;
    white-space: nowrap; 
    word-wrap: normal;
    overflow-wrap: normal;
}




.FIXME { background-color: yellow; color:red; padding:1em }

nav#toc { margin:0em 2em ; background-color: white }
nav#toc > * { text-align:left ; background-color: white; color:black }


dfn {
	/* FIXME: trovare una palette decorosa */
	background-color: orange;
	display: block;
	padding: 0.5em;
}

/* deve stare dopo div.prog per impostare il colore dello sfondo */
div.errore{
	background-color: #ffcccc;
}

em {
	font-style: normal; font-weight: bold; color: #9c0f16;
}

body#titlepage {
	text-align: center;
}

li { margin-top:0.2em }
li a {padding: 0.35em ; display:inline-block; color:black ; width:100%}
li a strong { font-size:110% }

h2 { 
    text-align: left;
    margin-top:2em;
    margin-bottom:0.25em
}

dt {
	font-weight: bold;
}

img.screen_shot {
	border:1px solid gray;
	margin: 0.5em;
}

/* esercizi e test */
.test {
	background-color: #dce3f9;
	border: 1px dashed gray;
	padding: 1em;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.test p {
	margin: 0em;
	padding: 0em;
	text-indent: 0em;
}

.test a {
	display: inline-table;
	margin-top: 0.5em;
	margin-bottom: 0.5em; 
	padding: 0.25em;
	border:1px solid #aaa;
	background-color: #eee;
}

.test a span.spiegazione{
	display:none ; font-size:85%
}

.test a span.spiegazione:before {
	content: " (";
}

.test a span.spiegazione:AFTER {
	content: ")";
}

.test a.spiega span.spiegazione{
	display:inline
}

.esercizio {
	margin-top:4em;
	border: 2px dashed gray;
	padding: 0.5em;
}

.esercizio + .esercizio {
    margin-top:1em;
}

.esercizio p {
	margin:0px;
}

.esercizio h3 {
	margin-top:0em; margin-bottom:0em;	
}

body {
	counter-reset: section;           /* Set the section counter to 0 */
}
div.esercizio:before {
	counter-increment: section;      /* Increment the section counter */
	content: "esercizio " counter(section); /* Display the counter */
	padding-right:1em;
	font-size:85%; color: #888;
}

div.curiosita, div.suggerimento, div.suggerimentoProgramma {
	float:right; clear:both; width:25%; font-size:85% ;
	padding:1em ; margin: 1em 0em 1em 2em ; 
	text-align: left;
}

div.curiosita {   
	background-color: #fefae3; 
}

div.suggerimento {   
	background-color: #c7eacb; 
	white-space: normal !important;
	overflow:auto; 
}
div.suggerimentoProgramma {   
	background-color: #c7eacb; 
	white-space: nowrap;
	overflow: scroll; 
	white-space: pre;
}

.netbeans { 
	background-color: rgb(240,240,255);
}

.eclipse { 
	background-color: rgb(255,240,240);
}

.IDE_inutile { display: none }

.ide { font-family: Courier, monospaced }